<% include ./../inc_com/header %>

<br>

<div class="container">
	<h1 class="display-4"><i class="fa fa-graduation-cap"></i> Analysis.com</h1>
      <p>Welcome to Analysis.com | BCS-011, Computer basics & PC Software</p>
      <hr width="50%" align="left">

	<div class="row">
		<div class="col-sm-6"><canvas id="myChart"></canvas></div>
		<div class="col-sm-6"><canvas id="myChart2"></canvas></div>
	</div>


</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
<script src="javascripts/chart.js"></script>

<% include ./../inc_com/footer %>